.App a {
  color: white;
  text-decoration: none;
}

/*font styling*/
@font-face {
  font-family: 'Megante';
  src: local('Megante'), url('./Components/Fonts/Megante.ttf') format('ttf'),format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Megante', sans-serif;
}

/*end font styling*/

.section1 {
  width: 100%;
  height: 100vh;
  background-image: url(./Images/cover.jpg);
  background-size: cover;
  background-position: center;

}


.opacity {
  width: 100%;
  height: 100vh;
  opacity: 0.3;
}

.navbar {
  width: 700px;
  height: 10vh;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

.navbar ul {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-left: 15%;
}

.navbar ul li {
  list-style-type: none;
  color: white;
}

.logo {
  margin-left: 6%;
  height: 12vh;
}

.intro {
  color: white;
  margin-top: 30vh;
  margin-left: 5%;
}

.intro h1 {
  font-size: 70px;
}

.Section2 {
  width: 100%;
  height: 100vh;
  padding-top: 8vh;
  text-align: center;
  /* background: #0b0c10;*/

  background-color: #fdfbfb;
  display: flex;
  justify-content: space-between;
}

.Section2 h1 {
  color: #d60404;
}

.categories {
  width: 100%;
}


.containers {
  width: 100%;
  margin-top: 10vh;
  display: flex;
  justify-content: space-around;

}

/*
.container1 {
  width: 310px;
  height: 45vh;
  border-radius: 30px;
  background-color: rgb(96, 216, 224);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  width: 310px;
  height: 45vh;
  border-radius: 30px;
  background-color: rgb(96, 216, 224);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container3 {
  width: 310px;
  height: 45vh;
  border-radius: 30px;
  background-color: rgb(96, 216, 224);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container4 {
  width: 310px;
  height: 45vh;
  border-radius: 30px;
  background-color: rgb(96, 216, 224);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container1 {
  background-image: url(./Images/saladbg.jpg);
  background-size: cover;
  width: 310px;
  height: 45.8vh;
  border-radius: 30px;
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: top;
  cursor: pointer;
}

.container2 {
  background-image: url(./Images/mealsbg.jpg);
  background-size: cover;
  width: 310px;
  height: 45.8vh;
  border-radius: 30px;
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: top;
  cursor: pointer;
}

.container3 {
  background-image: url(./Images/chickenbg.jpg);
  background-size: cover;
  width: 310px;
  height: 45.8vh;
  border-radius: 30px;
  text-align: center;
  color: black;
  display: flex;
  justify-content: center;
  align-items: top;
  cursor: pointer;
}


.container4 {
  background-image: url(./Images/coffeebg.jpg);
  background-size: cover;
  width: 310px;
  height: 45.8vh;
  border-radius: 30px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: top;
  cursor: pointer;
}

.section3{
  width:100%;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  flex-direction: column;
}

.section4 {
  width: 100%;

}

.Header {
  background-image: url(./Images/Simple\ meals.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.footer {
  height: 80vh;
  color: #d60404;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-top: 2vh;
}

.feedback {
  padding-left: 7%;
}

.contacts {
  padding-top: 8%;
  padding-right: 13%;
  color:black;

}

.name{
display: flex;
align-items: center;
}

.phone{
  display: flex;
  align-items: center;
}

.gmail{
  display: flex;
  align-items: center;
}

.contacts p {
  font-size: 16px;
}

.contactsBtn {
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rounded-lg {
  width: 25px;
  height: 3vh;
}

.eclipse4 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #e4006e;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div2 {
  margin-right: 13%;
  margin-top: 0;
}

.input-tab {
  position: relative;
  margin-bottom: 5%;

}

.input {
  padding: 10px;
  width: 400px;
  height: 6vh;
  border: none;
  border-radius: 20px;
  font: inherit;
  color: black;
  background-color: transparent;
  outline: 2px solid black;
}

.input-label {
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
  transition: transform.25s;
}

.input:focus+.input-label,
.input:valid+.input-label {
  transform: translate(10px, -14px) scale(0.8);
  color: black;
  padding-inline: 5px;
  background: white;
  border: 2px solid #d60404;

}

.input:is(:focus, :valid) {
  outline-color: #d60404;

}

.nametab {
  width: 600px;
}

.submit {
  width: 100px;
  height: 5vh;
  font-size: 15px;
  color: black;
  background-color: transparent;
  border: 1px solid #d60404;
  border-radius: 50px;
}

.submit:hover {
  cursor: pointer;
  box-shadow: 5px 3px 3px 3px rgb(53, 53, 53);
}


.msgtab {
  height: 30vh;
}
/*end footer styling*/

/*blog page styling*/
.section1blog {
  width: 100%;
  height: 90vh;
  background-color: black;
  /*background-image: linear-gradient(160deg, #29323c 0%, #485563 100%);*/
  ;

}

.faithImg {
  height: 80vh;

}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.title h1 {
  width: 80vh;
  height: 60vh;
  font-size: 80px;
  margin-left:35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section2blog{
  width:100%;
  height:80vh;
}

.prologue {
  width: 600px;
  height: 65vh;
  font-size: 25px;
  margin-left: 30%;
  margin-top: 16vh;
  padding: 40px;
  /* background-color: rgba(128, 128, 128, 0.562); */
  background-color: white;
  border: 1px solid black;
}

.section3blog{
  width: 100%;
  height: 80vh;
  background-color: black;
  color:white;

}

.Culinary {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 15vh;

}

.Culinary h2{
  color: #BA0000;
  
}

.CulinaryPassion {
  width: 38vh;

}

.CulinaryInspiration {
  width: 38vh;
}

.Welcome {
  width: 38vh;
}

/*styling recipe container*/
.recipe-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.recipe-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 180vh;
  height: 120vh;
  text-align: center;

}

/*end styling recipe container*/